body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.moviecard_container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 100%;
}
.moviecard_img_container{
    flex: 1;
    margin-left: 5px;
}
.moviecard_img_container img{
    width: 50%;
    height: auto;
}
.moviecard_details{
    flex: 2;
    display: flex;
    align-items: center;
    
}
.moviecard_details button{
    background-color: #30375f;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}
.moviecard_movie_title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;

}
.moviecard_movie_year{
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}
